<%- layout('layout/boiler') %>

    <ul style="list-style-type: none;">


        <% for( let book of books ) { %>


            <div class="uk-animation-toggle " tabindex="0">

                <div>
                    <li class="uk-animation-scale-up uk-margin-small-bottom">


                        <a href="/show/<%= book.id %>" style="color: black; text-decoration: black;">
                            <%= book.name %>
                        </a>



                    </li>
                </div>

            </div>




            <% } %>

    </ul>