<%- layout('layout/boiler') %>


    <form class="uk-position-center uk-overlay uk-overlay-default" action="/login" method="post">


        <div class="uk-margin">

            <div class="uk-inline">

                <span class="uk-form-icon" uk-icon="icon:  more-vertical"></span>

                <input class="uk-input" type="text" aria-label="Not clickable icon" name="username"
                    placeholder="Username">
            </div>
        </div>



        <div class="uk-margin">

            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="text" aria-label="Not clickable icon" name="password"
                    placeholder="Password">
            </div>
        </div>

        <div class="uk-margin-medium-top">
            <button type="submit" class=" uk-button uk-button-primary primary uk-position-bottom-center">Login</button>
        </div>


    </form>