<%- layout('layout/boiler') %>

    <form action="/new" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">
        <label for="Author">Author: </label>
        <input type="text" name="author" id="Author">
        <label for="date">Date: </label>
        <input type="date" name="date" id="date">
        <label for="pages">Pages</label>
        <input type="number" id="pages" name="pages">
        <button type="submit">Submit</button>
    </form>