<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>

    <style>
        .uk-button {
            border-radius: 3px;
        }
    </style>
</head>


<body>



    <nav class="uk-navbar-container uk-navbar-transparent">
        <div class="uk-container">
            <div uk-navbar>

                <div class="uk-navbar-left">

                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="/">Home</a></li>

                        <li><a href="/new">New</a></li>
                    </ul>

                </div>
                <div class="uk-navbar-right">

                    <ul class="uk-navbar-nav">
                        <% if(currentUser){ %>
                            <li>
                                <a href="#">
                                    <%= currentUser.name %>
                                </a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li> <a href="/account/<%= currentUser.id %>">Account</a></li>
                                        <li> <a href="#">Setings</a></li>
                                        <li> <a href="/logout">Log Out</a></li>

                                    </ul>
                                </div>
                            </li>

                            <% } else if(!currentUser) { %>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">Register</a></li>
                                <% } %>
                    </ul>

                </div>

            </div>



        </div>

    </nav>

    <section class="uk-container uk-margin-medium-top">



        <%- body -%>
    </section>


</body>

</html>